<%= form_for([@post,@post.comments.build]) do |f| %>
    <form role="form">
      <div class="row comment-margin">
      <div class="form-group">
        <%= f.label :name %>
        <div class="field">
          <%= f.text_field :name, id: :comment_name, :required => true %>
        </div>
      </div>
      </div>
      <div class="row comment-margin">
      <div class="form-group">
        <%= f.label :body %>
        <div class="field">
          <%= f.text_area :body, id: :post_body, :rows => 2, :cols => 120, :required => true %>
        </div>
      </div>
      </div>    
      <div class="row comment-margin">
        <%= f.submit :class => 'glyphicon glyphicon-plus btn btn-success' %>
      </div>
    </form>
<% end %>