<div class="container">
  <div class="span3 well">
        <center>
        <% if @user.avatar_url.nil? %>
        <img src="<%= image_path("defaultAvatar.png") %>"
         name="aboutme" width="140" height="140" class="img-circle">
        <% else %>
        <img src="<%= @user.avatar_url %>"
         name="aboutme" width="140" height="140" class="img-circle">
        <%end%>
        <h3><%= @user.first_name %> <%= @user.last_name %></h3>
        <em><%= @user.nickname %></em>
        </center>
    </div>
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <form role="form">
      <h2>Account Details</h2>
      <hr class="colorgraph">
      <div class="row">
      <div class="form-group">
        <div class="field">
          <label>Email:</label><br />
          <%= @user.email %>
        </div>
      </div>
      </div>
      <div class="row">
      <div class="form-group">
        <div class="field">
          <label>About:</label><br />
          <%= @user.about %>
        </div>
      </div>
      </div>
      <div class="row">
      <div class="form-group">
        <div class="field">
          <label>Visited countries:</label><br />
          <%= @user.past_countries %>
        </div>
      </div>
      </div>
      <div class="row">
      <div class="form-group">
        <div class="field">
          <label>Planning to visit:</label><br />
          <%= @user.want_countries %>
        </div>
      </div>
      </div>   
      <hr class="colorgraph">
    </form>
  </div>
</div>