	<% flash.each do |name,msg| %>
        <% if msg.is_a?(String) %>
        <div class="alert alert-info">
          <% if name == :notice %>
            <div class="alert-success"><%= msg %></div>
          <% else %>
            <div class="alert-error"><%= msg %></div>
          <% end %>
          </div>
        <% end %>
      <% end %>
<%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
<div class="container">
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <form role="form">
      <h2>Contact us:</h2>
      <hr class="colorgraph">
      <div class="row">
      <div class="form-group">
        <div class="field">
            <%= f.input :name, :required => true %>
        </div>
      </div>
      </div>
      <div class="row">
      <div class="form-group">
        <div class="field">
          <%= f.input :email, :required => true %>
        </div>
      </div>
      </div>
      <div class="row">
      <div class="form-group">
        <div class="field">
          <%= f.input :message, :as => :text, :required => false, :input_html => {:rows => 3} %>
        </div>
      </div>
      </div>
      <hr class="colorgraph">  
      <div class="row">
        <%= f.submit id: 'hidden_submit_button', style: 'display: none;' %>
        <div class="col-xs-12 col-md-6 button-middle-align"><a href="/contacts/new" class="btn btn-success btn-block btn-lg" onclick="$('#hidden_submit_button').click(); return false;">Send message</a></div>
      </div>
    </form>
  </div>
</div>
<% end %>
</div>>