<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">

<div class="row">
    <div class="col-xs-10">
    <form role="form">
      <h2>Post</h2>
      <hr class="colorgraph">
      <div class="row post-margin">
      <div class="form-group">
        <div class="field">
          <%= form.label :title %><br />
          <%= form.text_field :title, id: :post_title %>
        </div>
      </div>
      </div>
      <div class="row post-margin">
      <div class="form-group">
        <div class="field">
          <%= form.label :title_image %><br />
          <%= form.text_field :title_image, id: :post_title_image %>
        </div>
      </div>
      </div>
      <div class="row post-margin">
      <div class="form-group">
        <div class="field">
          <%= form.label :tags %><br />
          <%= form.text_field :tags, id: :post_tags %>
        </div>
      </div>
      </div>
      <div class="row post-margin">
      <div class="form-group">
        <div class="field">
          <%= form.label :anotation %><br />
          <%= form.text_area :anotation, id: :post_anotation, :rows => 4, :cols => 120 %>
        </div>
      </div>
      </div>
      <div class="row post-margin">
      <div class="form-group">
        <div class="field">
          <%= form.label :body %><br />
          <%= form.text_area :body, id: :post_body, :class => "wysihtml5", :rows => 20, :cols => 120 %>
        </div>
      </div>
      </div>     
      <hr class="colorgraph">
      <div class="row post-margin">
        <%= form.submit id: 'hidden_submit_button', style: 'display: none;' %>
        <div class="col-xs-12 col-md-6"><a href="#" class="btn btn-success btn-block btn-lg" onclick="$('#hidden_submit_button').click(); return false;">Post</a></div>
      </div>
    </form>
  </div>
</div>
<% end %>
<script type="text/javascript">
  $(document).ready(function(){
    $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5();
    });
  })
</script>