<!-- Page Content -->
    <div class="container" style="padding: 10px;">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

          <h1 class="my-4" style="display: inline;">News</h1>
          <% if user_signed_in? %>
          <div class="mb-4 new-post">
              <%= link_to ' New Post', new_post_path, class: "glyphicon glyphicon-plus btn btn-success" %>
          </div>
          <% end %>
          <!-- Blog Post -->
          <% @posts.each do |post| %>
          <div class="card mb-4" style="padding-bottom: 10px; margin-bottom: 1.5rem!important">
            <img class="card-img-top" src="<%= post.title_image %>">
            <div class="card-body">
              <h2 class="card-title">
                <%= post.title %>
                <%= link_to '', post, method: :delete, class: "btn btn-info glyphicon glyphicon-remove", data: { confirm: 'Are you sure?' } %>
                <%= link_to '', edit_post_path(post), class: "btn btn-info glyphicon glyphicon-pencil" %>
              </h2>
              <p class="card-text"><%= post.anotation %></p>
              <a href="/posts/<%= post.id %>" class="btn btn-primary" style="color: #ffffff;">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on <%= post.created_at %>
            </div>
          </div>
          <% end %>
          <%= will_paginate @posts %>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <%= form_tag(posts_path, method: :get) do %>
                  <%= text_field_tag :search, params[:search], :class => "form-control", :placeholder => "Search for..." %>
                  <span class="input-group-btn inhereit-search">
                  <%= submit_tag "Go!", :name => nil, :class => "btn btn-secondary" %>
                  </span>
                <% end %>
              </div>
            </div>
          </div>

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <%= link_to "Europe", posts_path(:search=>"europe"), :class => "btn btn-default btn-block category-item" %>
                    </li>
                    <li>
                      <%= link_to "Asia", posts_path(:search=>"asia"), :class => "btn btn-default btn-block category-item" %>
                    </li>
                    <li>
                      <%= link_to "Africa", posts_path(:search=>"africa"), :class => "btn btn-default btn-block category-item" %>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <%= link_to "Australia", posts_path(:search=>"australia"), :class => "btn btn-default btn-block category-item" %>
                    </li>
                    <li>
                      <%= link_to "America", posts_path(:search=>"america"), :class => "btn btn-default btn-block category-item" %>
                    </li>
                    <li>
                      <%= link_to "Antarctica", posts_path(:search=>"antarctica"), :class => "btn btn-default btn-block category-item" %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
              You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->