<p id="notice"><%= notice %></p>
<!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <%= link_to 'Edit', edit_post_path(@post) %> |
		      <%= link_to 'Back', posts_path %>
          <!-- Title -->
          <h3 class="mt-4"><a href="/posts/<%= @post.id %>"><%= @post.title %></a></h3>
          <hr>
          <div><strong>
          <%= @post.anotation %>
          </strong></div>
          <hr>
          <div>
          <%= raw(@post.body) %>
          <hr>
          </div>

          <!-- Comments Form -->
          <% if user_signed_in? %>
          <div class="card my-4">
            <h5 class="card-header"><%= @post.comments.count %> Comments:</h5>
            <div class="card-body">
              <%= render 'comments/form' %>
            </div>
          </div>
          <% end %>

          <!-- Single Comment -->
          <% if defined? @post.comments %>     
            <% @post.comments.each do |comment| %>
            <hr>
            <div class="media mb-4">
              <div class="media-body">
                <h5 class="mt-0"><%= comment.name %></h5>
                <%= comment.body %>
              </div>
            </div>
          <% end %> 
        <% end %>
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">Web Design</a>
                    </li>
                    <li>
                      <a href="#">HTML</a>
                    </li>
                    <li>
                      <a href="#">Freebies</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">JavaScript</a>
                    </li>
                    <li>
                      <a href="#">CSS</a>
                    </li>
                    <li>
                      <a href="#">Tutorials</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
              You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
          </div>

        </div>
      <!-- /.row -->
  </div>
</div>