<p id="notice"><%= notice %></p>
<!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- Title -->
          <div class="card mb-4" style="margin-bottom: 1.5rem!important">
            <img class="card-img-top" src="<%= @post.title_image %>" alt="<%= @post.title %>">
            <div class="card-body">
              <h2 class="card-title">
                <%= @post.title %>
              </h2>
              <p class="card-text"><%= @post.anotation %></p>
              <div>
                <%= raw(@post.body) %>
              </div>
            </div>
          </div>
          <!-- Comments Form -->
          <% if user_signed_in? %>
          <div class="card my-4">
            <h5 class="card-header"><%= @post.comments.count %> Comments:</h5>
            <div class="card-body">
              <%= render 'comments/form' %>
            </div>
          </div>
          <% end %>

          <!-- Single Comment -->
          <% if defined? @post.comments %>
          <div class="panel-body">
            <ul class="chat">
            <% @post.comments.each do |comment| %>
              <li class="right clearfix">
                <div class="chat-body clearfix">
                  <div class="header">
                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span><%= comment.created_at %></small>
                    <strong class="pull-right primary-font"><%= comment.name %></strong>
                  </div>
                  <p><%= comment.body %></p>
                </div>
              </li>
          <% end %>
          </ul>
        </div>
        <% end %>
      </div>
      <!-- /.row -->
  </div>
</div>