<!DOCTYPE html>
<html>
  <head>
    <title>Explorerify</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>  
  </head>
<!-- layout co je na kazdej stranke vrch po velk obrazok a paticka -->
  <body>
     <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index/index">Explorerify</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul id="menu-top" class="nav navbar-nav">
              <li class="irp-menu-item"><a href="/index/index">Home</a></li>
              <li class="irp-menu-item"><a href="/posts">News</a></li>
              <li class="irp-menu-item"><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            <% end %>
            <% if !user_signed_in? %>
              <li><%= link_to 'Register', new_user_registration_path %></li>
              <li><%= link_to('Log In', new_user_session_path) %></li>
            <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
      
    <%= yield %>

    <!-- Footer -->
    <footer class="py-5 bg-dark" style="padding-top: 80px;">
      <div class="container" style="text-align: center;">
        <p class="m-0 text-white" style="display: inline-block;">Copyright &copy; Explorerify 2017</p>
        <div class="social-icons">      
          <ul>
            <li><a class="youtube" href="#" target="_blank"><span>Youtube</span></a></li>
            <li><a class="facebook" href="#" target="_blank"><span>Facebook</span> </a></li>
            <li><a class="twitter" href="#" target="_blank"><span>Twitter</span> </a></li>
            <li><a class="google" href="#" target="_blank"><span>Google+</span> </a></li>
            <li><a class="likedin" href="#" target="_blank"><span>Likedin</span> </a></li>
            <div class="clear"></div>
          </ul>
        </div>
    </div>
      <!-- /.container -->
    </footer>
  </body>
</html>
